@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Unbounded:wght@200..900&display=swap");

.animation__mainpage {
  animation: switchColor 3s infinite linear;
}

@keyframes switchColor {
  0% {
    background-color: #ead5b8;
  }
  25% {
    background-color: #eabb75;
  }
  50% {
    background-color: #dcba94;
  }
  75% {
    background-color: #ddbb96;
  }
  100% {
    background-color: #ead5b8;
  }
}
